<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">manymore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            {% if hasAccess() %}
                <ul class="navbar-nav">                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Gestion des utilisateurs
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_user_list') }}">Liste</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_registration_register') }}">Ajouter</a></li>
                        </ul>                    
                    </li>
                </ul>
            {% endif %}
            <ul class="navbar-nav me-auto">                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Gestion des demandes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_demand_list') }}">Liste</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_demand_add') }}">Ajouter</a></li>
                    </ul>                  
                </li>
            </ul>
            <form class="d-flex">
                <ul class="navbar-nav me-auto">                
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            {{ app.user.firstName }} {{ app.user.lastName }}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_user_edit', {'id': app.user.id} ) }}">Profile</a></li>
                            {% if app.user %}
                                <li><a class="dropdown-item" href="{{ path('app_security_logout') }}">Déconnexion</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{{ path('app_security_login') }}">Connexion</a></li>
                            {% endif %}
                        </ul>                  
                    </li>
                </ul>                                
            </form>
        </div>
    </div>
</nav>